<html>
    <head>
        <script src="period.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        <div id="main">
            <input type="text" id="str" onkeyup="enter()">
            <input type="button" onclick="makeStr()" value="Make" id="make">
        </div>
        <div id="builtStr"></div>

    </body>
</html>
