body{
    margin: 0px;
    background-color: #435666
}

#str:focus{
    outline: none
}
#main{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
#str{
    font-family: 'Open Sans', sans-serif;
    border: 1px solid #ff7473;
    font-size : 50px;
    background-color: #435666;
    color: white;
    border-radius: 10px;
}

#make{
    font-family: 'Open Sans', sans-serif;
    border: none;
    border-radius: 10px;
    background-color: #ff7473;
    color:white;
    font-size:50px;
    margin-left: 30px;
    display: none;
}

#builtStr{
    margin-top: 150px;
    display: flex;
    justify-content:center;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
}

.num{
    text-align: center;
}
.chr{
    text-align: center;
}
.name{
    text-align: center;
}

.period{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid white;
    border-radius: 10px;
    color:#435666;
    width: 200px;
    margin-right: 10px;
}
