body{
    margin: 0;
    /*background-color: #435666*/
    background-color:#ffd5d5;
    margin: 0px;
    background-color: #435666
}

#str:focus{
    outline: none
}
#contents{
    display:flex;
    width:100vw;
    justify-content: center;
    flex-wrap:wrap;
    margin-top:50px;
}


#main{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#str{
    font-family: 'Open Sans', sans-serif;
    border:none;
    border-radius: 10px;
    width:90%;
    justify-content: center;
    transition:box-shadow 0.5s;
    box-shadow: 10px 10px 30px rgba(255, 147, 147, 0.9),
    -10px -10px 30px rgb(255, 219, 219),
    inset 10px 10px 30px transparent,
    inset -10px -10px 30px transparent;
    font-size : 50px;
    background-color: #ffc7c7;
    color: white;
    border-radius: 10px;
}
#str:focus{
    box-shadow: 10px 10px 30px transparent,
                -10px -10px 30px transparent,
                inset 10px 10px 30px rgba(255, 147, 147, 0.9),
                inset -10px -10px 30px rgb(255, 219, 219);
}
#peri{
    display:flex;
    justify-content: center;
    width:90%;
}

#make{
    font-family: 'Open Sans', sans-serif;
    border: none;
    border-radius: 10px;
    background-color: #ff7473;
    color:white;
    font-size:50px;
    margin-left: 30px;
    display: none;
}

#builtStr{
    margin-top: 150px;
    display: flex;
    justify-content:center;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
}

.num{
    text-align: center;
}
.chr{
    text-align: center;
}
.name{
    text-align: center;
}

.period{
    border-radius: 10px;
    color:#435666;
    width: 200px;
    margin-right: 10px;
    transition:box-shadow 0.5s;
    flex:0 1 auto;
}

}

